# Dependencies 
node_modules/ 
package-lock.json 
 
# Environment 
.env.local 
.env.development 
.env
.env.example
 
# Build 
build/ 
dist/ 
 
# IDE 
.vscode/ 
.idea/ 
 
# AWS 
samconfig.toml 
.aws-sam/ 
.env 
.env.example 
.env 
.env.example 
